<% @keywords.each do |keyword| %> 
  <h1> <%= keyword.kw.humanize %></h1>
  <% ref_match(keyword.id).each do |krm| %> 
    <p> <%= format_ref(krm) %></p>
    <p>{stub for matching verse(s)}</p>
  <% end %>
<% end %>





