<h1>Welcome to Affirm</h1>
<p>Find encouragement and support for your life.</p>

<em>A demo web app to support the portfolio of crjcodes at CodeOnward.com</em>

<h2>Choose Keywords</h2>

<div class="select_wrapper">
<%= form_tag("/key_ref_maps", method: "get") do %>
  <%= select_tag("keyword_id[]", 
    options_for_select(@keywords.order(id: :desc).all.collect{ |k| [k.kw.humanize, k.id] }), 
    :multiple => :multiple, 
    :size => 5, 
    :class => "fstdropdown-select"
    ) %>
  <%= submit_tag "Show" %> 
<% end %>
</div>






