$wine: #6E0E29;
$dark_red: #8C0200;
$dark_blue: #041831;
$emerald: #0B4839;
$gold: #E4B669;
$dark: #333;
$light: #fff;

$fore: $dark;
$back: $light;
$back-control: $emerald;

$header: $wine;

$accent: $emerald;
$highlight: $gold;
$border: $wine;
